*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 13, 54, 0.7),rgba(0, 6, 34, 0.7)), url(images/about-us.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(203, 255, 255);
}
nav{
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    }
    .nav-links ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px 15px;
        position: relative;
    }
    .nav-links ul li a{
    color: rgb(192, 226, 255);
    text-decoration: none
    }
    .nav-links{
        text-align: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-variant: small-caps;
    }
    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 5px;
        background-color: rgb(167, 237, 237);
        display: block;
        margin: auto;
    }
    .nav-links ul li:hover::after{
        width: 100%;
        transition: 1.5s;
    }
    .footer{
       
        width: 100%;
        min-height: 600px;
        width: 100%;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: large;
        background-image:linear-gradient(rgba(220, 240, 255, 0.7),rgba(181, 224, 252, 0.5));
        padding: 20px 0px;
    }
    .f-content{
        padding-top: 100px;
    display: inline-grid;
    grid-template-columns: 600px 400px;
    grid-template-rows: 400px;
 
    column-gap: 150px;
    
        

    }
    .content-item2{
        
        background-image: url(images/about1.jpg);
        height: inherit;
        width: inherit;
        background-position: center;
        background-size: cover;
    }
    .content-item1{
        /* background-image: linear-gradient(rgba(236, 247, 255, 0.7),rgba(150, 211, 255, 0.8)); */
        text-align: left;
        padding: 30px;
        
    }
    .content-item1 h2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px 0px;

    }
    .content-item1 p{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 40px 0px;
        font-size: 20px;
    }
    .btn1{
        display: inline-block;
        text-decoration: none;
        color: rgb(0, 15, 81);
        border: .5px solid rgb(18, 45, 45);
        padding: 8px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        position: relative;
    }
    .btn1:hover{
        border-color: rgb(0, 0, 0);
        background-color: white;
        color: rgb(0, 0, 64);
        transition: 1.5s;
    }
    .footer h5{
        margin-top: 25px;
    text-align: center;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(26, 66, 66);
    }
    .footer p{
        padding-top: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
    }
    @media(max-width:700px) {
        
        .nav-links ul li{
            display: block;
        }
        .f-content{
            grid-template-columns: repeat(1,1fr);
                }
                    
        
    }